/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.code-highlight { height: 175px; }

/*mechanical-form-collector-forms*/
.show-permanent .mcf-permanent {display: block;}
.show-permanent .mcf-condition {display: none;}
.show-condition .mcf-permanent {display: none;}
.show-condition .mcf-condition {display: block;}

.mfc-form-settings-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CCCCCC;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.mfc-form-settings-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.mfc-form-settings-close:hover {
    color: #337ab7;
    cursor: pointer;
}